*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7ffff;
}
.Container{
    height: 100vh;
    width: 100%;
    background-color: #151118;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 90%;
    margin: auto;
}
.ResultContainer{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    margin: auto;
}
input{
    font-size: 3em;
    text-align: right;
    height: 20vmin;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin: auto;
    background-color: #938f9a;
    box-shadow: inset 0px 0px 20px #23005f;
}
.buttonRowsContainer{
    margin: auto;
    height: 50%;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.rows{
    gap: 5px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.rows button{
    font-size: 1em;
    font-weight: bold;
    flex: 1;
    border: none;
    border-radius: 15px;
    background-color: #221e27;
    color: #ceb5fb;
    box-shadow: 0px 0px 15px #23005f, inset 0px 0px 6px #ceb5fb;
}
.rows button:active{
    background-color: #2a2335; 
    box-shadow: 0px 0px 10px #ceb5fb, inset 0px 0px 10px #23005f;
}